header {
      background: url('https://lh3.google.com/u/0/d/0B9gdNiZ6j026el9kckhJRWVtb0U=w1628-h850-iv1');
      background-size: cover;
      font-family: sans-serif;
      color: white;
}
img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
}
body{
      text-align: center;
      font-family: arial;
}
li {
       padding: 5px;
       display: block;
}
li {
      display: inline;
      padding: 0px 10px 0px 10px;
}
ul {
      padding: 10px;
      background: rgba(1000,200,0,0.5);
}
#title {
      font-size: 500%;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
 
}
a {
      color: white;
      font-size: 150%;
      font-family: arial;
}